#ficheros a no tener en cuenta
/node_modules
.idea/

.vscode/
geckodriver.log
/sub-gestor-backend/my_cert.crt
/sub-gestor-backend/my_cert.csr
/sub-gestor-backend/my_cert.key
/sub-gestor-backend/my_cert.pem
/sub-gestor-code/my_cert.crt
/sub-gestor-code/my_cert.csr
/sub-gestor-code/my_cert.key
/sub-gestor-code/my_cert.pem
/sub-gestor-code/.env
sub-gestor-code/.env

