.errors-relogin a {
    background-color: #519e8a;
    border: 2px solid whitesmoke;
    width: 30%;
    padding: 8px 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.errors-relogin a:hover {
    background-color: #fff;
    border: 2px solid #519e8a;
    color: #519e8a;
    text-decoration: none;
}

.errors-relogin{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}