*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    max-width: 480px;
    margin:auto;

}
.accordion{
    width: 100%;
    max-width: 540px;
    margin: 18px auto;
    color: white;

}
.accordionHeading{
    background:lightskyblue;
    padding:14px 0;

}
.accordionHeading p{
    letter-spacing: 1.2px;
    font-weight: 600;

}
.accordionHeading span{
    cursor: pointer;

}
.accordionHeading .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.accordionContent{
    background: grey;
    display:flex;
    overflow:hidden;
    transition: all 600ms ease-in-out;
    height: 0;
    opacity: 0;

}

.prueba{
    width:100%;
    min-height: 100vh;
    padding: 20px 0;
    background: lightgreen;
}

.accordionContent.show{
    height: 180px;
    opacity: 1;
    
}