.card-container{
    display:flex;
    align-items: center;
    border:black 3px solid;
    margin: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-color: thistle;
    

}


.card-container img{
    height: 120px;
    border: tomato 2px solid;
    margin: 20px;
}

.text-col{
    padding: 1px;
    
}

.card-container:hover{
    background-color: lightgreen;
}

