.subList-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.subList-selector{
    text-align: right;
    padding: 10px;
}

.subList-selector select{
    background-color: #519e8a;
    border: 2px solid white;
    color: white;

}

.subList-selector select:hover{
    background-color: white;
    border: 2px solid #519e8a;
    color: #519e8a;
}

.subList-selector select option{
    background-color: white;
    border: 2px solid #519e8a;
    color: #519e8a;
}

.subList-createSubscription{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subList-createSubscription a {
    background-color: #519e8a;
    border: 2px solid #fff;
    width: 30%;
    padding: 8px 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.subList-createSubscription a:hover {
    background-color: #fff;
    border: 2px solid #519e8a;
    color: #519e8a;
    text-decoration: none;
}

