.subList-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.subList-createSubscription{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subList-createSubscription a {
    background-color: #519e8a;
    border: 2px solid #fff;
    width: 20%;
    padding: 8px 0px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.subList-buscador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#subList-buscador {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.subList-createSubscription a:hover {
    background-color: #fff;
    border: 2px solid #519e8a;
    color: #519e8a;
    text-decoration: none;
}

.subList-canceladas {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10%;
}

.subList-canceladas-b {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10%;
    margin-top: 3%;
}

.subList-canceladas-b a:hover {
    background-color: #fff;
    border: 2px solid #519e8a;
    color: #519e8a;
    text-decoration: none;
}

.subList-canceladas-b a {
    background-color: #519e8a;
    border: 2px solid #fff;
    width: 30%;
    padding: 8px 25px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .subList-wrapper {
        width: 100%;
    }

    .subList-container{
        width: 100%;
    }

    .subList-createSubscription {
        width: 100%;
    }

    .subList-createSubscription a {
        width: 25%;
    }
}

@media only screen and (max-width: 800px) {
    .subList-container {
        width: 100%;
    }

    .subList-createSubscription {
        width: 100%;
    }

    .subList-createSubscription a {
        width: 50%;
    }
}


@media only screen and (max-width: 500px) {
    .subList-container {
        width: 100%;
        padding: 10%;
    }

    .subList-createSubscription {
        width: 100%;
    }

    .subList-createSubscription a {
        width:70%;
    }

}