.Subscription-card-container{
    display:flex;
    align-items: center;
    margin: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 10px;
}


.Subscription-card-container img{
    height: 160px;
    width: 256px;
    border: black 1px solid;
    margin: 20px;
    border-radius: 10px;
}

.Subscription-text-col{
    padding: 1px;
    width: 60%;
    
}

.Subscription-card-container:hover{
    background-color: whitesmoke;
    box-shadow: 0px 10px 50px #555;
}

.Subscription-titulo {
    font-size: 22px;
}
/*Media query*/
@media only screen and (max-width: 500px) {
    .Subscription-card-container img {
        height: 100px;
        width: 150px;
    }
}